@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

$red: #E03359;
$orange: #F18805;
$yellow: #FFEC73;
$green: #9BC53D;
$blue: #65DEF1;
$purple: #F78CFF;
$black: #242424;
$white: #FFFFFF;
$board-color: #B4B4B4;

@import 'partials/spectrum';
@import 'partials/main';