h1 {
	text-align: center;
}

#gameboard {
	background-color: $board-color;
	width: 100%;
	max-width: 400px;
	margin: auto;
}

#rounds {
	@include grid-row();
	padding: 0 20px !important;
	
	li {
		height: 60px;
		margin: 10px 0;
		border-bottom: 1px solid $white;
		list-style: none;
		
		.guessOptions {
			@include grid-column(10);
			display: flex;
			padding-left: 0;
			
			input {
				border: none;
				background-color: transparent;
			}
			
			input, .sp-replacer, .correct {
				width: 50px;
				height: 50px;
				border: 1px solid $black;
				border-radius: 50%;
				background-color: $white;
				margin: 0 10px;
				text-align: center;
				line-height: 50px;
				padding: 0;
			}
			
			.sp-preview {
				width: 100% !important;
				height: 100% !important;
				border: none !important;
			}
			
			.sp-dd {
				display: none !important;
			}
		}

		.guessFeedback {
			@include grid-column(2);
			width: 50px;
			height: 50px;
			padding: 0 !important;

			div {
				display: inline-block;
				background-color: $white;
				border: 1px solid $black;
				width: 20px;
				height: 20px;
				margin-left: 5px;
				border-radius: 50%;
			}
		}
	}
}

.sp-palette {
	max-width: 200px;
}

.label {
    background: #444;
    padding:8px;    
    border-radius: 4px;
    color: #eee;
    margin-top: 10px;
    display:inline-block;
}

